//basic
$white: #f8f8f8;
$black: #181818;
$btnBG: #181818;
$green: #3f8e48;

$greyWhite: #555555;
$greyBlack: #9fa5ab;
$hover: #d4251b;
$error: #d4251b;

$boxShadow: 0 1px 4px rgba(37, 37, 37, 0.16), 0 1px 4px rgba(37, 37, 37, 0.23);
$boxShadowHover: 0 2px 8px rgba(37, 37, 37, 0.19),
  0 2px 6px rgba(37, 37, 37, 0.23);

//Анимация
$transition: 0.5s;
